body{
	background:#414352;
}

#menu ul li {
	background-color:#2e518b;
	}

#menu ul {
	list-style:none;
	margin:0;
	padding:0;
	}

#menu ul a {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:400;
	font-size:15px;
	padding:10px;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
	position absolute;

}

#menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	}
#menu ul ul {
	display:none;
	top:100%;
	left:0;
	padding:0;
	}

#menu ul ul {
	float:right;
	width:150px
	}

#menu ul ul a {
	line-height:120%;
	padding:10px 15px;
	}

#menu ul li:hover{
	background-color:#1d3152;
}

table, td, th{	
	border:solid 1px white;
	border-collapse: collapse;
	text-aling:center;
}

table{
	width:100px;
	aling:right;
	float:right;

}

td, th{
	color:white;
	vertical-aling:top;
	font-family:Arial,Helvetica,Sans-serif;
}

tr{
	background-color:#222429;
}

tr:hover{
	background-color:black;
}

#foto1:hover{
	filter:invert(100);
}

#foto2:hover{
	filter: hue-rotate(90deg);
}

#foto3:hover{
	filter:invert(100);
}

#foto4:hover{
	filter:invert(100);
}

h{
	float:left 10%;
	color:white;
	font-size:20px;
	text-aling:justify;
}

a{
	color:white;
	text-decoration:none;
}
a.WikiEnlace:hover{
	text-decoration:underline overline;
	background-color:black;
}